[submodule "fila/static/fila/cliente"]
	path = fila/static/fila/cliente
	url = https://github.com/sebasgoldberg/filav-cliente.git
[submodule "fila/static/fila/scanner"]
	path = fila/static/fila/scanner
	url = https://github.com/sebasgoldberg/filav-scanner.git
[submodule "fila/static/fila/posto"]
	path = fila/static/fila/posto
	url = https://github.com/sebasgoldberg/filav-posto.git
[submodule "fila/static/fila/resources/socket"]
	path = fila/static/fila/resources/socket
	url = https://github.com/sebasgoldberg/channels-ui5-socket.git
[submodule "fila/static/fila/resources/openui5-qrcode"]
	path = fila/static/fila/resources/openui5-qrcode
	url = https://github.com/jpenninkhof/openui5-qrcode.git
