django==1.11.8
channels
djangorestframework
djangorestframework-expander
django-filter
django-cors-headers
django-python3-ldap
asgi_redis
psycopg2
pyopenssl
social-auth-app-django
django_python3_ldap
python-telegram-bot
