{% load static %}

<!DOCTYPE HTML>
<html>
<head>
<title>Login Fila Virtual</title>
<link href="{% static 'fila/login/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
</head>
<body>
<div class="wrap">
<div class="contact-form">
	<form class="contact_form" method="post" >
        {% csrf_token %}
		<h1>Login Fila Virtual</h1>
	    <ul>
	        <li>
	            <input class="textbox1" name="username" placeholder="usuario" required />
	             <p><img src="{% static 'fila/login/images/contact.png' %}" alt=""></p>
	        </li>
	        <li>
	            <input type="password" name="password" class="textbox2" placeholder="password">
	            <p><img src="{% static 'fila/login/images/lock.png' %}" alt=""></p>
	        </li>
         </ul>
       	 	<input type="submit" name="Login" value="Login"/>
			<div class="clear"></div>	
            <!--
			<label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Remember me</label>
		<div class="forgot">
			<a href="index.html#">forgot password?</a>
		</div>	
		<div class="clear"></div>	
        -->
	</form>
<div class="account">
            <!--
	<h2><a href="index.html#">Don' have an account? Sign Up!</a></h2>
        -->
    <div class="span"><a href="{% url 'social:begin' 'facebook' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}"><img src="{% static 'fila/login/images/facebook.png' %}" alt=""/><i>Login com Facebook</i><div class="clear"></div></a></div>	
            <!--
    <div class="span1"><a href="index.html#"><img src="{% static 'fila/login/images/twitter.png' %}" alt=""/><i>Login with Twitter</i><div class="clear"></div></a></div>
    <div class="span2"><a href="index.html#"><img src="{% static 'fila/login/images/gplus.png' %}" alt=""/><i>Login with Google+</i><div class="clear"></div></a></div>
        -->
</div>	
<div class="clear"></div>	
</div>
</div>
</body>
</html>
